/*---------Tablet----*/
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .header-container {
    flex-wrap: nowrap;
  }
  .logo-link {
    flex-wrap: nowrap;
  }
}
