/* Reset margin styles */

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --white: #ffffff;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;

  --gradient: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --navy-blue-modal: rgba(46, 47, 66, 0.4);

  --transition-border: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-background: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-link: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-fill: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.about-hero-container {
  background: var(--navy-blue);
  width: 100%;
}

/* -------------------------HEADER--------------------------- */
.header-container {
  display: flex;
  align-items: center;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--cornflower);
}
.adress {
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.page-nav {
  display: flex;
}

/*-----------------------------------Logo----------------------------------*/

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-link-span {
  color: var(--navy-blue);
  margin-right: 76px;
}
.logo-portfolio-span {
  color: var(--cloud);
}

/*------------------------------Menu----------------------------------------------*/
.menu-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  display: flex;
  gap: 40px;
  position: relative;
}
.menu-link {
  transition: var(--transition-link);
}
.menu-link:hover {
  color: var(--ocean);
}
.menu-link:focus {
  color: var(--ocean);
}
.menu-item {
}
.underline {
  color: var(--ocean);
}
.underline::after {
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  content: "";
  background-color: var(--ocean);
  bottom: -24px;
}
/* Contact */

.contact-list {
  gap: 40px;
  display: flex;
  align-items: center;
}
.contact-li {
  margin: auto;
}
.contact-item {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
  transition: var(--transition-link);
}
.contact-item:hover {
  color: var(--ocean);
}
.contact-item:focus {
  color: var(--ocean);
}

/*---------------------- HERO SECTION 1-------------------------- */
.hero {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.hero .about-hero-container {
  background: var(--navy-blue);
  background-image: var(--gradient), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  margin: auto;
  max-width: 500px;
}

.hero-button {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--iris);

  display: block;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;

  transition: var(--transition-background);
}
.hero-button:hover {
  color: var(--cornflower);
  background-color: var(--ocean);
}
.hero-button:focus {
  color: var(--cornflower);
  background-color: var(--ocean);
}

/* --------------------------SECTION 2 ----------------------------*/
.second-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.second-section-list {
  gap: 22px;
  display: flex;
}
.second-section-li {
  flex-basis: calc((100% - 72px) / 4);
}

/* --------------------------icon---------------------------- */

.second-section-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}
.second-section-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
/* .second-section-icon {
  display: flex;
  width: 100%;
} */
/* ------------------------------------------------------------- */

.second-section-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.second-section-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

/* --------------------------------SECTION 3-------------------------------------- */
.third-section {
  padding-bottom: 120px;
}
.third-section-title {
  margin-bottom: 72px;
}
.third-section-pic {
  max-width: 100%;
  height: auto;
}
.third-section-item {
  width: calc((100% - 48px) / 3);
}
.third-section-list {
  display: flex;
  gap: 24px;
}
.third-section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

/* -------------------------------SECTION 4 -------------------------------*/
.fourth-section {
  padding-top: 120px;
  padding-bottom: 72px;
}
.fourth-section-list {
  display: flex;
  gap: 24px;
}
.fourth-section {
  background-color: var(--cloud);
  padding-bottom: 120px;
}
.fourth-section-pic {
  width: 100%;
  height: 428px;
}
.background {
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
}
.fourth-section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.fourth-section-name {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.fourth-section-profession {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: inherit;
  margin-top: 8px;
  margin-bottom: 8px;
}
.fourth-section-text {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--cornflower);
}

/*------------------------------Social media links ---------------------*/

.fourth-section-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.fourth-section-soc-item {
  width: 40px;
  height: 40px;
}
/* ------------------------------------------------------------------- */
.fourth-section-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--transition-fill);
}
.fourth-section-soc-link:hover {
  background-color: var(--ocean);
}
.fourth-section-soc-icon {
  fill: var(--cloud);
}

/*-------------------------- CUSTOMERS--------------------------- */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  justify-items: center;
  justify-content: center;

  gap: 24px;
}
.customers-item {
  width: calc((100% - 120px) / 6);
}

.customers-link {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88px;

  border-radius: 4px;
  border: 1px solid var(--light-slate);
  color: var(--light-slate);

  transition: var(--transition-border);
}
.customers-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

/* hover frame */
.customers-link:is(:hover, :focus) {
  border-color: 1px solid var(--iris, --ocean);
}

/* hover icon */
.customers-link:is(:hover, :focus) {
  color: var(--iris);
}

/*-------------------------------- FOOTER ------------------------- */
.footer {
  background: var(--navy-blue);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.footer-wrap {
  display: flex;
}
.about-logo-footer {
  max-width: 264px;
}

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.logo-link-span-footer {
  color: var(--cloud);
}
.footer-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
  margin-top: 17.5px;
}
/* -----------------------------SUBSCRIBE------------------- */
.subscribe-wrap {
  margin-left: auto;
}
.footer-form {
}
.subscribe-field {
  display: flex;
  gap: 24px;
  align-items: center;
}
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--white);
}
.subscribe-input {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--white);
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
}
.subscribe-label {
}
.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  padding: 8px 0 8px 0;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white);
}
.subscribe-icon {
}
.subscribe-button {
  display: flex;
  align-items: center;
  gap: 16px;
  border: none;
  background-color: var(--iris);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  color: var(--white);
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover {
  background-color: var(--ocean);
}
subscribe-button:focus {
  background-color: var(--ocean);
}
/* --------------------Footer-soc-link -----------------------*/
.footer-soc-media {
  margin-left: 120px;
}
.footer-soc-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 208px;
  margin-bottom: 16px;
}
.footer-soc-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-soc-media-item {
  width: 40px;
  height: 40px;
}

.footer-soc-media-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--slate);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--transition-fill);
}
.footer-soc-media-icon {
  fill: var(--cloud);
}

.footer-soc-media-link:hover {
  background-color: var(--green);
}
.footer-soc-media-link:focus {
  background-color: var(--green);
}

/*--------------------------PORTFOLIO-----------------------------*/

.hidden-menu {
  display: none;
}

/*---------------------------Filters---------------------------------*/
.filters {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filters-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);
  cursor: pointer;

  background: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px 12px 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:hover {
  color: var(--white);
  background-color: var(--ocean);
  border-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters-button:focus {
  color: var(--white);
  background-color: var(--ocean);
  border-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*------------------------------GALLERY-------------------------------------*/
.gallery-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.about-gallery-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.gallery-list li {
  width: calc((100% - 48px) / 3);
}
/* ------------------------------------------------------------------------ */
.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}
.gallery-link {
  display: block;
}
.gallery-link:hover .gallery-cover-text {
  transform: translateY(0);
}
.gallery-cover-text {
  position: absolute;
  transition: transform 300ms linear;
  transform: translateY(101%);
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px 0 32px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background-color: var(--iris);
}
/* ------------------------------------------------------------------------------------ */
.gallery-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.gallery-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-top: 8px;
}
/* ----------------------------------------BACKDROP------------------------------------ */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--navy-blue-modal);
  opacity: 1;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}
/* .hero-button:active .backdrop {
  display: block;
} */

.modal {
  position: relative;
  width: 408px;
  background-color: var(--white);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms ease-in-out;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:is(:hover, :focus) {
  background-color: var(--ocean);
}
.modal-close-btn:is(:hover, :focus) {
  color: var(--white);
}

.modal-close-icon {
  position: absolute;
  top: 15%;
  transform: translate(-50%, 50%);
  /* fill: var(--navy-blue); */
  width: 8px;
  height: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
/* ----------------------------Fill BACKDROP------------------------ */
.modal-form {
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.modal-field {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--light-slate);
  margin-bottom: 8px;
}
.modal-comment {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--light-slate);
  margin-bottom: 16px;
}
.modal-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-input {
  padding: 8px 16px 8px 38px;
}

.input-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: inline-block;
  padding-bottom: 4px;
}
.input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  left: 19px;
  transform: translateY(-50%);
  top: 50%;
  fill: var(--navy-blue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  outline: transparent;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--iris);
}
.modal-input:focus + .modal-icon {
  fill: var(--iris);
}
.modal-text-area {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.2);

  outline: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
}

.modal-text-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}
/* --------------------------------PRIVACY-------------------------- */
.check-text {
  display: flex;
  align-items: center;
  font-size: 12px;
  position: relative;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  margin-right: 10px;
  background-image: url(../images/submit-priv.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.privacy-link {
  margin-left: 4px;
  color: var(--iris);
}
.input-check:checked + .check-text::before {
  width: 16px;
  height: 16px;
  background-color: var(--ocean);
  background-image: url(../images/submit-priv.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* ---------------------------------------------------------------- */
.backrop-button {
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--iris);

  display: block;
  padding: 16px 64px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backrop-button:hover {
  background-color: var(--ocean);
}
.backrop-button:focus {
  background-color: var(--ocean);
}
