*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margin styles */

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --white: #ffffff;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;

  --gradient: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --navy-blue-modal: rgba(46, 47, 66, 0.4);

  --transition-border: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-background: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-link: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-fill: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =========================================================================================== */
@media screen and (min-width: 120px) and (max-width: 768px) {
  .container {
    max-width: 428px;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .menu-list {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .adress {
    display: none;
  }
  .second-section-icon {
    display: none;
  }
  .second-section-title {
  }

  .fourth-section {
    padding-top: 120px;
    padding-bottom: 72px;
  }

  .fourth-section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }
  .customers-list {
    gap: 72px 16px;
  }
  .background {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--cornflower, #e7e9fc);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

    /* width: calc((100% - 72px) / 4); */
  }
  .team-card {
  }

  .fourth-section {
    background-color: var(--cloud);
  }
  .fourth-section-pic {
    max-width: 100%;
    height: auto;
  }
  .subscribe-field {
    flex-wrap: wrap;
  }
}
/* =========================================================================================== */
/* ---------------------------------MOBILE MENU-------------------------- */
.mobile-menu-button {
  border: none;
  background-color: var(--white);
  padding: 0;
  cursor: pointer;
  margin-left: auto;
}
.mobile-menu {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--white);
  padding-left: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  transition: opacity var(--transition), visibility var(--transition),
    transform var(--transition);
  z-index: 2;
  opacity: 1;
}
/* ------------------------------------------------------------------- */
.team-soc-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--transition-fill);
}
.team-soc-link:focus {
  background-color: var(--ocean);
}
.team-soc-icon {
  fill: var(--cloud);
}

.mobile-mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu-close-button {
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background: var(--cornflower);
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition);
}
.mobile-menu-close-button:is(:hover, :focus) {
  background-color: var(--ocean);
  border: 0;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 80px;
}

.mobile-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--slate);
  transition: color var(--transition);
}

.activ-page {
  color: var(--cornflower);
}

.mobile-menu-item:is(:hover, :focus) {
  color: var(--text-color-focus-hover, #404bbf);
}

.mobile-menu-address {
  margin-top: auto;
  margin-right: auto;
}

.mobile-menu-contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-tel {
  font-weight: 700;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--bg-color-social-icons);
  transition: color var(--transition);
}

.mobile-menu-tel:is(:hover, :focus) {
  color: var(--ocean);
}

.menu-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color var(--transition);
}

.mobile-menu-mail:is(:hover, :focus) {
  color: var(--ocean);
}

.mobile-menu-soc-list {
  display: flex;
  margin-top: 48px;
  margin-right: auto;
  gap: 20px;
}
/*---------------------------------HEADER-----------------------------*/
/* --------------------------------Mobile----------------------------- */

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--cornflower);
}
.adress {
  font-style: normal;
  display: flex;
}

.page-nav {
  flex-wrap: wrap;
  align-items: center;
}

/*-----------------------------------Logo----------------------------------*/

.logo-link {
  margin-right: 76px;
}
.logo-style {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-link-span {
  color: var(--navy-blue);
}

/*------------------------------Menu----------------------------------------------*/
.menu-list {
  gap: 40px;
}

.menu-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  gap: 40px;
  position: relative;
}
.menu-link {
  transition: var(--transition-link);
}
.menu-link:hover {
  color: var(--ocean);
}
.menu-link:focus {
  color: var(--ocean);
}
.menu-item {
}
.underline {
  color: var(--ocean);
}
.underline::after {
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  content: "";
  background-color: var(--ocean);
  bottom: -24px;
}
/*------------------------------Contact----------------------------------- */
.header-container {
  position: relative;
}
.contact-list {
  align-items: center;
}
.contact-li {
  margin: auto;
}
.contact-item {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
  transition: var(--transition);
}
.contact-item:hover {
  color: var(--ocean);
}
.contact-item:focus {
  color: var(--ocean);
}

/*----------------------------HERO--------------------------------------*/
/*----------------------------Mobile-----------------------------*/
.hero-container {
  width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding: 112px 54px;
}
.hero-button {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--iris);
  display: block;
  padding: 16px 32px;
  margin: 72px auto 0;

  transition: var(--transition-background);
}
.hero-button:hover {
  color: var(--cornflower);
  background-color: var(--ocean);
}
.hero-button:focus {
  color: var(--cornflower);
  background-color: var(--ocean);
}
.hero {
  background: var(--navy-blue);
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mobile.jpg);
  background-size: cover;
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  height: 432px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 320px;
  margin: auto;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobile2x.jpg);
  }
  @media screen and (max-width: 768px) {
    .hero .about-hero-container {
      border-radius: 4px;
      min-width: 169px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      cursor: pointer;
      text-align: center;
    }
  }
}

/*----------------------------SECTION (STRATEGY) 2------------------------*/

.second-section-list {
  /* gap: 22px;
  display: flex; */
}
.second-section-li {
  flex-basis: calc((100% - 24px) / 2);
  width: 100%;
}
.second-section-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 72px;
}

/* .second-section-li {
  flex-basis: calc((100% - 24px) / 2);
} */

.second-section-title {
  margin-bottom: 8px;
}

.second-section-text {
  max-width: auto;
}

/* --------------------------icon---------------------------- */

.second-section-icon-wrapper {
  display: none;
}
.second-section-icon-list {
}

/* ------------------------------------------------------------- */

.second-section-title {
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.second-section-text {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

/*----------------------------SECTION 2------------------------*/
/* -----------------------------Laptop---------------------------- */
/*----------------------------------------------SECTION 2------------------------*/
/* ----------------------------------------------Descktop---------------------------- */

/*----------------------------SECTION 3 (WHAT ARE WE DOING)------------------------*/
/* --------------------------------------Mobile---------------------------- */
.third-section {
  display: none;
}
.third-section-title {
  margin-bottom: 72px;
}
.third-section-pic {
  /* max-width: 100%;
  height: auto; */
}
.third-section-item {
  /* width: calc((100% - 48px) / 3); */
  width: 100%;
}
.third-section-list {
  /* display: flex;
  gap: 24px; */
}
.third-section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

/*----------------------------SECTION 4 (OUR TEAM)-----------------------*/
/* -----------------------------Mobile---------------------------- */

.fourth-section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.fourth-section-name {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.fourth-section-profession {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: inherit;
  margin-top: 8px;
  margin-bottom: 8px;
}
.fourth-section-text {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--cornflower);
}

/*------------------------------Social media links ---------------------*/

.fourth-section-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.fourth-section-soc-item {
  width: 40px;
  height: 40px;
}
/* ------------------------------------------------------------------- */
.fourth-section-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--transition-fill);
}
.fourth-section-soc-link:hover {
  background-color: var(--ocean);
}
.fourth-section-soc-icon {
  fill: var(--cloud);
}

/*----------------------------SECTION 5 (Customers)------------------------*/
.customers-wraper {
  text-align: center;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 396px;
}
.customers-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;

  border-radius: 4px;
  border: 1px solid var(--light-slate);
  color: var(--light-slate);

  transition: var(--transition-border);
}
.customers-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
  transition: fill var(--transition);
}
/* hover frame */
.customers-link:is(:hover, :focus) {
  border-color: 1px solid var(--iris, --ocean);
}

/* hover icon */
.customers-link:is(:hover, :focus) {
  color: var(--iris);
}
/* -----------------------------FOOTER---------------------------- */

.footer {
  background-color: var(--navy-blue);
  padding: 96px 15px;
}
.footer-wrap {
  display: flex;
  flex-direction: column;

  gap: 72px;
  align-items: center;
}
.about-logo-footer {
  width: 264px;
  text-align: center;
}
.footer-logo-link {
  color: var(--iris);
}
.logo-link-span-footer {
  color: var(--cloud);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  margin-top: 16px;
  text-align: start;
}
.footer-soc-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
  text-align: center;
}
.footer-soc-media-list {
  display: flex;
  gap: 16px;
}
.footer-soc-media-item {
  width: 40px;
  height: 40px;
}
.footer-soc-media-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--transition-fill);
}
.footer-soc-media-link:hover {
  background-color: var(--green);
}
.footer-soc-media-link:focus {
  background-color: var(--green);
}
.footer-soc-media-item {
  width: 40px;
  height: 40px;
}
.footer-soc-media-icon {
  fill: var(--cloud);
}
/* -----------------------------SUBSCRIBE------------------- */
.subscribe-wrap {
}
.subscribe-text {
  font-family: "Roboto";
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  height: 24px;
  margin-bottom: 16px;

  text-align: center;
}
.subscribe-field {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 16px;
}

.subscribe-input {
  padding-left: 16px;
  width: 100%;
  height: 40px;
  background: var(--navy-blue);
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 4px;
}
.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  padding: 8px 0 8px 0;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white);
  opacity: 0.6;
}
.subscribe-button {
  font-family: "Roboto";
  font-style: normal;
  display: flex;
  justify-items: center;
  cursor: pointer;
  border: 0;
  gap: 16px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover {
  background-color: var(--ocean);
}
.subscribe-button:focus {
  background-color: var(--ocean);
}
/* ----------------------------------------BACKDROP------------------------------------ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  background-color: var(--white);
  border-radius: 4px;
  max-width: 392px;
  min-height: 586px;
  top: 50%;
  left: 50%;
  padding: 72px 16px 16px;
  overflow: scroll;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms ease-in-out;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:is(:hover, :focus) {
  background-color: var(--ocean);
}
.modal-close-btn:is(:hover, :focus) {
  color: var(--white);
}

.modal-close-icon {
  position: absolute;
  top: 15%;
  transform: translate(-50%, 50%);
  /* fill: var(--navy-blue); */
  width: 8px;
  height: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

/* ----------------------------Fill BACKDROP------------------------ */
.modal-form {
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.modal-field {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--light-slate);
  margin-bottom: 8px;
}
.modal-comment {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--light-slate);
  margin-bottom: 16px;
}
.modal-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-input {
  padding: 8px 16px 8px 38px;
}

.input-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: inline-block;
  padding-bottom: 4px;
}
.input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  left: 19px;
  transform: translateY(-50%);
  top: 50%;
  fill: var(--navy-blue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  outline: transparent;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--iris);
}
.modal-input:focus + .modal-icon {
  fill: var(--iris);
}
.modal-text-area {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.2);

  outline: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
}

.modal-text-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}
/* --------------------------------PRIVACY-------------------------- */
.check-text {
  display: flex;
  align-items: center;
  font-size: 12px;
  position: relative;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  margin-right: 10px;
  background-image: url(../images/submit-priv.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.privacy-link {
  margin-left: 4px;
  color: var(--iris);
}
.input-check:checked + .check-text::before {
  width: 16px;
  height: 16px;
  background-color: var(--ocean);
  background-image: url(../images/submit-priv.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* ---------------------------------------------------------------- */
.backrop-button {
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--iris);

  display: block;
  padding: 16px 64px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backrop-button:hover {
  background-color: var(--ocean);
}
.backrop-button:focus {
  background-color: var(--ocean);
}
